*{
    font-family: "Garamond";
}

#l1{
    height: 500px;
    width: 25%;
    background-color: lavender;
    float: left;
}

#p1{
    height:150px;
    width: 75%;
    background-color: indigo;
    color: white;
    font-size: 200%;
    text-align: center;
    float: right;
}

#p2{
    height: 700px;
    width: 75%;
    color: black;
    font-size: 200%;
    background-color: lavender;
    float: right;

}

#l2{
    height: 350px;
    width: 25%;
    background-color: lavender;
    float: left;
}

#s{
    clear: both;
    background-color: Indigo;
    color: white;
    width: 100%;
    float: right;
    text-align: right;
}

#ul {
    list-style-type: square;
}

img{
     padding: 5px;
     margin: 10px;
}

img:hover{
    padding: 4px;
    border: 1px indigo solid;
}